<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="cc.mielke.dave.android.radio"
  android:versionCode="1"
  android:versionName="1.0"
  >

  <!-- Android 4.1 (JellyBean) -->
  <uses-sdk android:minSdkVersion="16" />

  <!-- Android 8.0 (Oreo) -->
  <uses-sdk android:targetSdkVersion="26" />

  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

  <application
    android:label="@string/app_name"
    android:icon="@drawable/radio"
    android:name="RadioApplication"
    >

    <activity
      android:name="MainActivity"
      android:label="@string/app_name"
      >

      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity
      android:name="PlayPauseActivity"
      android:launchMode="singleTask"
      android:taskAffinity=""
      android:excludeFromRecents="true"
     />

    <activity
      android:name="NextActivity"
      android:launchMode="singleTask"
      android:taskAffinity=""
      android:excludeFromRecents="true"
     />

    <activity
      android:name="PreviousActivity"
      android:launchMode="singleTask"
      android:taskAffinity=""
      android:excludeFromRecents="true"
     />

    <service
      android:name="RadioService"
      android:label="@string/player_service_label"
     />
  </application>
</manifest>
