[Unit]

Description=Radio Daemon

DefaultDependencies=yes
After=syslog.target network.target remote-fs.target autofs.service


[Service]

Type=simple
ExecStart=/mnt/opt/dave/bin/radio daemon syslog

User=radio
WorkingDirectory=/home/radio

TimeoutStartSec=10
TimeoutStopSec=10

Restart=always
RestartSec=30


[Install]
WantedBy=multi-user.target


